name: Go Test

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/**
      - go.mod
      - go.sum
      - storage/**
      - testhelpers/**
      - version/**

env:
  GO_VERSION: "1.21.x"

jobs:
  go_test:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: |
          go mod download
          go test -v ./... -timeout=300s
